
/* CSS Variables */
:root {
    --darkest: #141311;
    --darker: #1b1916;
    --dark: #24221f;
    --gray: #32343a;
    --yellow: #e8d149;
    --pink: #ff005a;
}
body {
    color: white;
    background-color: var(--dark);
}
html, body {
    width:100%;
    height:100%;
    margin:0;
    padding:0;
}
/* Pink Highlighted Text */
.highlighted {
    color: var(--pink);
}
/* 50% centered text */
.center-text {
    text-align: center;
}
#top {
    background-color: var(--darker);
    height: 7vh;
    width: 100%;
}