
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

/* CSS Variables */
:root {
    --darkest: #141311;
    --darker: #1b1916;
    --dark: #24221f;
    --gray: #32343a;
    --yellow: #e8d149;
    --pink: #ff005a;
}
body {
    color: white;
    background-color: var(--dark);
    margin-top: 0px;
}
html, body {
    width:100%;
    height:100%;
    margin:0;
    padding:0;
}
/* Pink Highlighted Text */
.highlighted {
    color: var(--pink);
}
/* 50% centered text */
.center-text {
    margin-top: 0px;
    text-align: center;
    top: 15px;
    position: relative;
    font-size: xxx-large;
    font-family: 'Abril Fatface', cursive;
}
#top {
    background-color: var(--dark);
    height: 100px;
    width: 100%;
    
}
#top-border {
    background-color: var(--pink);
    height: 7px;
    width: 100%;
}
#about-me {
    background-color: var(--darker);
    width: 45%;
    align-items: center;
}
#portrait {
    width:100px;
    position: relative;
    margin-top: 20px;
    margin-left: 37.5%;
    border-radius: 100px;
}
#skills {
    background-image: url("img/pcNoir.jpg");
    background-color: var(--darker);
}