.chess-table {
    height: 400px;
    width: 400px;
    display: flex;
    border: 3px solid black;
}

.piece-box {
    width: 50px;
    height: 50px;
    color: white;
    font-size: 8px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.piece {
    width: 45px;
    height: 45px;
}

.piece-box-text {
    display: none;
    position: absolute;
    bottom: 0px;
    right: 0px;
    font-size: 12px;
    color: #444;
}

/* Chess Board Squares */

.piece-box.white-box {
    background: white;

}

.piece-box.black-box {
    background: gray;
}

.piece-box.piece-selected {
    background: violet;
    cursor: pointer;
}
